/db/boringbot.sqlite
/logs/*.log
/storage/*.lock
/.env
/config/.env

# OS / IDE
.DS_Store
.idea/
.vscode/

# cPanel / PHP logs
error_log
bin/error_log

# Dependencies (if you add Composer later)
/vendor/
